.drGroupPic {
  background-image: url('../../../assets/images/drGroup.jpg');
  height: 450px;
  background-repeat: no-repeat;
  width: 100% !important;
  /* display: block; */
  background-size: cover;
}
